<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/overall.css') }}">
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <div class="regi">
        <h2>Create an Account</h2>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{message}}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <form method="POST" action="{{ url_for('auth.register') }}">
            <input type="text" name="username" placeholder="Username" required><br><br>
            <input type="email" name="email" placeholder="Email" required><br><br>
            <input type="password" name="password" placeholder="Password" required><br><br>
            <button type="submit">Register</button>
        </form>
        <br>
        <p>Already have an account? <a href="{{ url_for('auth.loginPage') }}">Login Here</a></p>
    </div>
    {% endblock %}
</body>
</html>